/**
 * @version $Id$
 * @author Thomas Crespin <thomas.crespin@sesamath.net>
 * @copyright Thomas Crespin 2010
 * 
 * ****************************************************************************************************
 * SACoche <http://sacoche.sesamath.net> - Suivi d'Acquisitions de Compétences
 * © Thomas Crespin pour Sésamath <http://www.sesamath.net> - Tous droits réservés.
 * Logiciel placé sous la licence libre GPL 3 <http://www.rodage.org/gpl-3.0.fr.html>.
 * ****************************************************************************************************
 * 
 * Ce fichier est une partie de SACoche.
 * 
 * SACoche est un logiciel libre ; vous pouvez le redistribuer ou le modifier suivant les termes 
 * de la “GNU General Public License” telle que publiée par la Free Software Foundation :
 * soit la version 3 de cette licence, soit (à votre gré) toute version ultérieure.
 * 
 * SACoche est distribué dans l’espoir qu’il vous sera utile, mais SANS AUCUNE GARANTIE :
 * sans même la garantie implicite de COMMERCIALISABILITÉ ni d’ADÉQUATION À UN OBJECTIF PARTICULIER.
 * Consultez la Licence Générale Publique GNU pour plus de détails.
 * 
 * Vous devriez avoir reçu une copie de la Licence Générale Publique GNU avec SACoche ;
 * si ce n’est pas le cas, consultez : <http://www.gnu.org/licenses/>.
 * 
 */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Généralités normatives                                                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,pre,input,p,blockquote,th,td,img,hr {margin:0;padding:0}
ol,ul,li {list-style:none;}
table {border-collapse:collapse;border-spacing:0;font-size:100%}
fieldset,img,hr {border:0}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Personnalisations globales                                                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html {height:100%;background:#F7F7F7;font-size:13px;}
body {background:#F7F7F7;margin-left:2px;margin-right:2px;font:1em "arial","liberation sans","dejavu sans","nimbus sans l";cursor:default;}
table,select,textarea,input,div{font:100% "arial","liberation sans","dejavu sans","nimbus sans l"}
p{margin:1em auto}
img {vertical-align:text-top}
td img , #aide_en_ligne img {vertical-align:middle}
input[type=radio],input[type=checkbox],input[type=image] {vertical-align:-2px}
input[readonly=readonly],input[disabled=disabled] {color:#666}
h1{display:block;font-size:125%;text-align:center;font-weight:bold;font-variant:small-caps;color:#33A;letter-spacing:0.15em;}
h1 img{vertical-align:middle}
h1 a{margin:auto 1em}
#titre_page{background:transparent url(../_img/logo_petit.png) no-repeat 60px 1px;line-height:62px}
#titre_aide{background:transparent url(../_img/puce_manuel_ouvert.png) no-repeat left;padding-left:24px;margin:1ex 2em;text-align:left}
h2{display:block;font-size:110%;text-align:left;font-weight:bold;font-variant:small-caps;color:#33A;letter-spacing:0.15em;margin-top:1ex;margin-bottom:1ex;}
a.anti_h2{background:transparent url(../_img/actualiser_small.png) no-repeat left;padding-left:15px;margin-left:1em;font-size:80%;font-weight:normal;font-variant:normal;letter-spacing:0;}
a {color:#139;text-decoration:none}a:hover{color:#D41;text-decoration:underline}
hr {display:block;height:1px;margin:1em 0;color:#66F;background:#66F}
span.astuce,div.astuce,p.astuce {background:transparent url(../_img/puce_astuce.png) no-repeat top left;padding-left:18px}
span.danger,div.danger,p.danger {background:transparent url(../_img/puce_danger.gif) no-repeat top left;padding-left:18px;color:#C00}
span.manuel,div.manuel,p.manuel {background:transparent url(../_img/puce_manuel.png) no-repeat top left;padding-left:18px;color:#777}
#aide_en_ligne {margin:1ex 1em}
em {display:inline;font-style:normal;font-weight:bold;font-variant:small-caps} /* "SACoche" et divers noms propres */
.hc{text-align:center} .hg{text-align:left} .hd{text-align:right} .ti{text-indent:3em}
.i{font-style:italic} .u{text-decoration:underline}
.hide{display:none}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Images sprites utilisées comme images cliquables ; http://fr.spritegen.website-performance.org/     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body q {background:transparent url(../_img/sprite9.png) 0 0 no-repeat;width:16px;height:16px;display:inline-block;vertical-align:middle;margin-left:5px;quotes:none}
body q:before, body q:after {content: "";} /* patch pour Safari : voir par exemple http://forum.alsacreations.com/topic-4-41216-1-Resolu-Modifier-le-style-des-citations-quotqquot.html */
body q.activer         {background-position:    0px 0}
body q.ajouter         {background-position:  -20px 0}
body q.ajouter_non     {background-position:  -40px 0}
body q.annuler         {background-position:  -60px 0}
body q.choisir_compet  {background-position:  -80px 0}
body q.choisir_eleve   {background-position: -100px 0}
body q.date_calendrier {background-position: -120px 0}
body q.date_periode    {background-position: -140px 0}
body q.deconnecter     {background-position: -160px 0}
body q.demander_add    {background-position: -180px 0} 
body q.demander_del    {background-position: -200px 0} 
body q.desactiver      {background-position: -220px 0}
body q.detailler       {background-position: -240px 0}
body q.dupliquer       {background-position: -260px 0}
body q.imprimer        {background-position: -280px 0}
body q.initialiser_mdp {background-position: -300px 0}
body q.modifier        {background-position: -320px 0}
body q.modifier_non    {background-position: -340px 0}
body q.ordonner        {background-position: -360px 0}
body q.calculer        {background-position: -380px 0} 
body q.calculer_non    {background-position: -400px 0} 
body q.envoyer         {background-position: -420px 0} 
body q.envoyer_non     {background-position: -440px 0} 
body q.partager        {background-position: -460px 0} 
body q.partager_non    {background-position: -480px 0} 
body q.retourner       {background-position: -500px 0} 
body q.saisir          {background-position: -520px 0} 
body q.supprimer       {background-position: -540px 0} 
body q.supprimer_non   {background-position: -560px 0} 
body q.valider         {background-position: -580px 0} 
body q.voir            {background-position: -600px 0} 
body q.n1_add          {background-position: -620px 0} 
body q.n1_del          {background-position: -640px 0} 
body q.n1_edit         {background-position: -660px 0} 
body q.n1_move         {background-position: -680px 0} 
body q.n1_move2        {background-position: -700px 0} 
body q.n2_add          {background-position: -720px 0} 
body q.n2_del          {background-position: -740px 0} 
body q.n2_edit         {background-position: -760px 0} 
body q.n2_move         {background-position: -780px 0} 
body q.n2_move2        {background-position: -800px 0} 
body q.n3_add          {background-position: -820px 0} 
body q.n3_del          {background-position: -840px 0} 
body q.n3_edit         {background-position: -860px 0} 
body q.n3_fus          {background-position: -880px 0} 
body q.n3_fus2         {background-position: -900px 0} 
body q.n3_move         {background-position: -920px 0} 
body q.n3_move2        {background-position: -940px 0} 
body q:hover {cursor:pointer}	/* Curseur pointeur pour ces images qui sont des liens */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Cadres hors-flux (en jaune en haut)                                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#cadre_identite {position:absolute;top:1px;right:1px;background:#FF6;border:1px solid #F93;padding:1px 3px;text-align:right}
#appel_menu     {position:fixed;   top:1px;left:1px; background:#FF6;border:1px solid #F93;padding:1px 1ex}
#treeview       {position:fixed;   top:1px;left:1px; background:#EEE;border:1px solid #139;padding:2px}
#look_menu      {position:fixed;  top:21px;left:19px;z-index:0}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Puces des menus                                                                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#treeview {padding-left:6px;display:none;z-index:99}
#treeview li {margin:6px auto 1px -6px;padding-left:18px}
#treeview li {background:transparent url(../_img/folder/folder_m1.png) no-repeat top left;color:#081;font-weight:bold}
#treeview li li {margin-top:0;color:#000;font-weight:normal} /* les dossiers images des liens sont ajoutés en javascript */
#treeview li a.actif {background:#FF2}
#treeview img {vertical-align:text-top}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Style pour les formulaires                                                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Affichage des message ajax */
label.erreur {background:transparent url(../_img/ajax/ajax_erreur.png) no-repeat left;color:#A00;padding-left:18px;margin-left:5px}
label.valide {background:transparent url(../_img/ajax/ajax_valide.png) no-repeat left;color:#080;padding-left:18px;margin-left:5px}
label.loader {background:transparent url(../_img/ajax/ajax_loader.gif) no-repeat left;color:#080;padding-left:18px;margin-left:5px}
label.alerte {background:transparent url(../_img/ajax/ajax_alerte.png) no-repeat left;color:#A00;padding-left:18px;margin-left:5px}

/* Mise en page tabulée des éléments */
form label.tab{line-height:1.4em;display:inline-block;text-align:right;width:10em;margin-right:1em;font-weight:bold}
form span.radio{line-height:1.4em;display:inline-block;text-align:right;width:25em;margin-right:1em;font-weight:bold}
form span.tab{line-height:2em;margin-left:12em}
form label.mini{width:8em;}

/* formulaire en page d'accueil pour choisir son établissement */
#f_structure {font-size:90%}

/* réduire la taille des select multiple (professeurs / élèves / matières) */
select.t8 {font-size:90%}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Style généraux pour les tableaux                                                                    */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

table {margin-left:1ex}
th,td {padding:0 2px;text-align:left;white-space:nowrap}
table tr {background:#DDF}
table th {border:1px solid #66F;background:#CCF}
table td {border:1px solid #66F;vertical-align:top}
th.nu , td.nu {background:#F7F7F7;border:none;text-align:center;height:1.6em;}	/* le height évite que la hauteur des lignes varie lors de la modification de leur contenu en ajax */
tr.new{background:#CFC}
td.new{font-weight:bold}
/* colorer une ligne au survol */
table.form tbody tr:hover td {background:#FCC}
table.form tbody tr:hover td.nu {background:#F7F7F7}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Tableau résultat d'une affectation (professeurs / élèves / matières)                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

table.affectation {font-size:85%}
table.affectation tfoot td {background:#CCF;color:#333}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Tableau de saisie des compétences                                                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

table.scor_eval td {font-size:90%}
table.scor_eval th, table.scor_eval td {text-align:center}
table.scor_eval thead th {vertical-align:bottom}
table.scor_eval thead td {background:#F7F7F7;border:none;}
table.scor_eval tbody th {white-space:normal;font-weight:normal}
table.scor_eval tbody td {vertical-align:middle;font-weight:bold;background:#CCF;font-size:90%}
table.scor_eval tbody tr th {text-align:left}
table.scor_eval th, table.saisir td {padding:0}
table.scor_eval tbody td img {vertical-align:middle;}
table.scor_eval tbody td input {vertical-align:middle;width:23px;height:17px;font-size:0;color:#FFF;margin:0;border:2px solid #FFF}
table.scor_eval tbody td input.X    {background:#FFF url('../_img/note/note_X.gif')    no-repeat center center;}
table.scor_eval tbody td input.RR   {background:#FFF url('../_img/note/note_RR.gif')   no-repeat center center;}
table.scor_eval tbody td input.R    {background:#FFF url('../_img/note/note_R.gif')    no-repeat center center;}
table.scor_eval tbody td input.V    {background:#FFF url('../_img/note/note_V.gif')    no-repeat center center;}
table.scor_eval tbody td input.VV   {background:#FFF url('../_img/note/note_VV.gif')   no-repeat center center;}
table.scor_eval tbody td input.ABS  {background:#FFF url('../_img/note/note_ABS.gif')  no-repeat center center;}
table.scor_eval tbody td input.NN   {background:#FFF url('../_img/note/note_NN.gif')   no-repeat center center;}
table.scor_eval tbody td input.DISP {background:#FFF url('../_img/note/note_DISP.gif') no-repeat center center;}
table.scor_eval tbody td input:focus {border:2px solid #00F}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Tableau de simulation de calcul des scores, aussi utilisé pour dessiner les cellules d'un tableur.  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

table.simulation {border-collapse:separate;border-spacing:3px;empty-cells:hide;text-align:center}
table.simulation colgroup {margin:auto 10px}
table.simulation th, table.simulation td {border:1px solid #000;text-align:center}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Couleur de fond pour indiquer A / VA / NA                                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

table th.r , table td.r , span.r {background-color:#F99}
table th.o , table td.o , span.o {background-color:#FD3}
table th.v , table td.v , span.v {background-color:#9F9}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Format des en-têtes de tableaux dont on peut trier les colonnes                                     */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

th.header         {background:#CCF url(../_img/ts_bg.gif)   no-repeat center right;padding-right:20px;cursor:pointer;} 
th.headerSortUp   {background:#99F url(../_img/ts_asc.gif)  no-repeat center right;}
th.headerSortDown {background:#99F url(../_img/ts_desc.gif) no-repeat center right;}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Format des tableaux de bilans de compétences : .bilan et .bilan_synthese                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

table.bilan, table.bilan_synthese {font-size:85%}
table.bilan tfoot th, table.bilan tfoot td {background:#CCF;text-align:right}
table.bilan tfoot td.nu {background:#F7F7F7;}
table.bilan_synthese {margin-top:1em;margin-bottom:1em}
table.bilan th.domaine {background:#99F;}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Format du tableau admin présentant les référentiels de compétences utilisés                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

table.comp_view td {vertical-align:middle}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Marqueur invisible pour le tri d'un tableau                                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

table.form i, table.bilan i, table.bilan_synthese i, table#resultat i {display:none}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Style pour les infobulles                                                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#tooltip {position:absolute;z-index:3000;border:1px dotted #66F;background:#FFF;color:#222;font-size:12px;font-weight:bold;padding:0.25em;opacity:0.95} /* Contenu de l'infobulle */
#tooltip h3 {font-size:100%;} /* Titre de l'infobulle */
#tooltip div.body {} /* Corps de l'infobulle, si utilisation de showBody */
#tooltip div.url {} /* URL de l'infobulle, si utilisation de showURL */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Style pour le calque de recherche (uniquement le calendrier en fait)                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#calque{position:absolute;z-index:9999;left:0;top:0;border:1px dotted #66F;background:#EEE;font-size:12px;padding:0.25em;text-align:center}
#calque h5 {display:block;font-size:120%;color:#33A;letter-spacing:0.1em;} /* Titre de calque */
#calque h6 {margin:0.5em auto;color:#33A;font-size:110%;} /* Consigne */
#calque th,#calque td {text-align:center}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Style pour la zone de choix d'association d'une compétence du socle.                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#zone_socle{position:fixed;z-index:9999;left:0;top:0;right:0;bottom:0;border:0;background:#EEE;font-size:13px;padding:0.25em;overflow:auto;display:none}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Liste à puce pour l'affichage de l'arborescence des compétences ou du socle                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

ul.ul_m1 {font-size:95%}
ul.ul_m1 li, ul.ul_n1 li {margin:0;padding-left:18px}
ul.ul_m1 li span:hover {cursor:pointer}
ul.ul_n1 li span:hover {cursor:pointer}
li.li_m1 {background:transparent url(../_img/folder/folder_m1.png) no-repeat top left;color:#081}	/* matiere ; socle_palier */
li.li_m2 {background:transparent url(../_img/folder/folder_m2.png) no-repeat top left;color:#04F}	/* niveau */
li.li_n1 {background:transparent url(../_img/folder/folder_n1.png) no-repeat top left;color:#F00}	/* referentiel_domaine ; socle_pilier */
li.li_n2 {background:transparent url(../_img/folder/folder_n2.png) no-repeat top left;color:#D0C}	/* referentiel_theme ; socle_section */
li.li_n3 {background:transparent url(../_img/folder/folder_n3.png) no-repeat top left;color:#70F}	/* referentiel_item ; socle_entree */
#zone_compet li {line-height:1.6em;}	/* le height évite que la hauteur des lignes varie lors de la modification de leur contenu en ajax */
li.li_n3 b{font-weight:normal}
li.li_n3 b img{margin-right:2px}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Liste à puce pour l'affichage d'une liste d'établissements proposant des référentiels               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

ul.donneur {height:30ex;width:90%;background:#DDF;padding:1ex;overflow:auto}
ul.donneur li span:hover {cursor:pointer}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Liste à puce pour les étapes lors de l'importe sconet                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#step li {color:#777;margin-left:2em;}
#step li.on {color:#000;font-weight:bold;list-style:url(../_img/puce_li.png);}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Liste à puce avec flèches vertes                                                                    */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

ul.puce li {margin-left:2em;list-style:url(../_img/puce_li.png);}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Puces des liens pour masquer ou montrer des options                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

a.puce_plus  {background:transparent url(../_img/puce_plus.gif) no-repeat left;font-weight:normal;padding-left:12px;}
a.puce_moins {background:transparent url(../_img/puce_moins.gif) no-repeat left;font-weight:normal;padding-left:12px;}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Zone affichée pour le choix d'une compétences à la souris                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

div#td_souris_container{display:none;}
div.td_souris {font-size:0}
div.td_souris img {padding:2px;margin:1px;background-color:#FFF}
div.td_souris img.on {background-color:#FF0}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Zone avec barres de progressions pour des intervalles de dates                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.graph_total  {background-color:#99F;text-align:center;width:100%}
.graph_partie {background-color:#080;height:3px;} /* margin-left et width ajoutés en PHP */
.graph_erreur {background-color:#A00;height:3px;} /* margin-left et width ajoutés en PHP */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Indicateur de robustesse d'un mot de passe                                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#robustesse {border:1px solid #66F;margin:auto 10%;background-color:#F99;text-align:center;font-style:italic;white-space:nowrap}
